# Dipendenze
node_modules/

# File di build della tua app React
build/

# Cartelle di output di Electron Forge
out/
dist/
dist-installer/
dist-installer-2/

# Log e file di sistema
*.log
.DS_Store
Thumbs.db

# File di ambiente (contengono chiavi segrete!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backup locali
node_modules.bak-*/
