.storico-danni-section {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.danno-entry {
  margin-bottom: 1rem;
}

.form-section{
  margin-top: 20px;
}

.contratto-card {
  margin-bottom: 0.5rem;
}

.contratto-toggle {
  background: none;
  border: none;
  font-weight: bold;
  color: #2563eb;
  cursor: pointer;
  text-align: left;
  padding: 6px 0;
  width: 100%;
}

.contratto-content {
  padding: 8px 12px;
  background-color: #f9f9f9;
  border-left: 2px solid #2563eb;
  margin-top: 4px;
  font-size: 0.95rem;
}
.show-more-btn {
  background: none;
  border: none;
  color: #2563eb;
  font-weight: bold;
  cursor: pointer;
  margin-top: 6px;
  font-size: 0.95rem;
}
