
  .simple-btn {
    background: none;
    border: none;
    color: #555;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .simple-btn:hover {
    color: black;
    transform: scale(1.2);
  }
  
  .riepilogo-contenuto {
    margin-top: 1rem;
  }
  
  .Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  }
  .Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Sfondo più scuro */
  backdrop-filter: blur(5px); /* Effetto blur */
  z-index: 999;
  }

  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
